@{
    ViewData["Title"] = "Orange Blogs";
}

<section id="hero">
    <img class="bg-image leaf-1" src="~/images/BgLeaf1.png" />
    <img class="bg-image leaf-2" src="~/images/BgLeaf1.png" />
    <img class="bg-image leaf-3" src="~/images/BgLeaf1.png" />
    <img class="bg-image orange-1" src="~/images/BgOrange1.png"/>
    <img class="bg-image orange-2" src="~/images/BgOrange2.png"/>
    <div id="hero-text-container">
        <h2 class="secondary-title">Read New Articles Every</h2>
        <h1 class="title">Friday</h1>
        <button class="orange-button">See More</button>
    </div>
    <img src="~/images/hero-img.png"/>
</section>
