<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="nav">
            <a asp-action="Landing" asp-controller="Home"><h1 id="logo">Orange Bloggs</h1></a>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
