@using Blog.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul id="login-bar">
@if (SignInManager.IsSignedIn(User))
{
        <li>
            <a asp-controller="User" asp-action="Logout">Log Out</a>
        </li>
}
else
{
    <li>
        <a asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li>
         <a asp-controller="User" asp-action="Login">Login</a>
    </li> 
}
</ul>
