* {
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: #FE8F01;
    height: 58px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}

#nav {
    width: 1240px;
    display: flex;
    justify-content: space-between !important;
    color: #FAFAFA;
    align-items: center;
}
#login-bar li a{
    color: #FFFFFF;
    text-decoration: none;

}


#logo {
    text-shadow: 1.5px 2px 1px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

#login-bar {
    display: flex;
    font-size: 22px;
    font-family: Arial;
    list-style: none;
    gap: 20px;
    margin: 0;
}

#nav a{
    color: #FAFAFA;
    text-decoration: none;

}

.container{
    display: flex;
    flex-direction: column;
    min-width: 1240px;
}

#hero {
    display: flex;
    align-items: center;
    width: 1240px;
    margin: 0 auto;
    justify-content: space-evenly;
}

#hero img{
    height: 600px;
    height: 650px;
    object-fit: cover;
}

#hero-text{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 100px;
}

#hero-text h2{
    width: 500px;
    font-size: 52px;
    font-family: Arial;
    font-weight: 900;
    line-height: 1;
}

#hero-text h1 {
    font-size: 120px;
    font-family: Arial;
    font-weight: 900;
    line-height: 1;
    background: radial-gradient(1697.22% 85.82% at 0.77% 77.45%, #FE8F01 0%, #FAFAFA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-text button{
    border-radius: 50px;
    height: 80px;
    width: 400px;
    font-size: 26px;
    font-weight: 800;
    border: 2px solid #FE8F01;
    background: linear-gradient(#FE8F01 -20%, transparent)
}

#text-container{
    height: 160px;
}

#about {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p {
    font-family: Arial;
    font-size: 34px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

#about-container{
    display: flex;
    height: 612px;
    width: 600px;
    flex-direction: column;
    gap: 140px;
    justify-content: center;
    align-items: end;
}

#about-container button {
    border-radius: 50px;
    height: 80px;
    width: 400px;
    font-size: 26px;
    font-weight: 800;
    border: 2px solid #FE8F01;
    background: linear-gradient(#FE8F01 -20%, transparent)
}

footer {
    display: flex;
    width: 1240px;
    height: 245px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0.75;
    background: #FE8F01;
    justify-content: center;
    margin: 0 auto;
}

button a {
    width: 100%;
    line-height: 100%;
    text-decoration:none;
    color: black;
    display: block;
    text-align: center;
}

#register{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;

}

#register form{
    display: flex;
    width: 400px;
    height: 440px;
    border-radius: 20px;
    background: #FFF;
    padding: 30px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

#register form input {
    width: 80%;
    height: 60px;
    border-radius: 0px 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    border: none !important;
    color: #FFF;
}

#register form input {
    width: 80%;
    height: 60px;
    border-radius: 0px 20px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 0px 20px;
    border: none !important;
    color: #FFF;
}

#register hr{
    height: 600px;
    border: 2px solid #FE8F01;
    border-radius: 5px;
}

#register img{
    height: 640px;
}

#register form button {
    border-radius: 10px;
    border: none;
    height: 56px;
    width: 90%;
    margin: 0 auto;
    background: #FE8F01;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    opacity: 0.9;
    font-size: 22px;

}

#register form button:hover {
    cursor: pointer;

}

